<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' />
  </head>
  <body class="bod">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="..">Wholesale DB</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="..">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../product">Products</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="../manufacturer">Manufacturers</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="../retailer">Retailers</a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link" href="../payment">Payments</a>
                  </li>
  
              </ul>
  
  
  
          </div>
      </nav>
    <div class="container textarea">
    <h1>WholesaleDB</h1>
    <p>Welcome to WholesaleDB, a database management system for wholesale enterprises.</p>
    <br>
    <br>
    <br>
    <br>
    <p>Built by Shawn and Arfan</p>
  </div>
  </body>
</html>
