<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Made by Arfan and Shawn</p>

    <a href="./manufacturer">Manufacturer List</a>
    <a href="./retailer">Retailer List</a>
    <a href="./product">Product Inventory</a>
    <a href="./login">Login (WIP)</a>
  </body>
</html>
