<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body class="bod">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="..">Wholesale DB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="..">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../product">Products</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="../manufacturer">Manufacturers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../retailer">Retailers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../payment">Payments</a>
            </li>

          </ul>


          
        </div>
      </nav>


  <div class="container">
    <h1>Manufacturers List</h1>
    <h2>Add Manufacturer to List</h2>
    <form action="manufacturer_update" method="POST">

      <div class="form-group">
        <label for="exampleInputEmail1">Manufacturer Name</label>
        <input type="text" class="form-control" placeholder="Enter Manufacturer Name" name="mname" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Address</label>
        <input type="text" class="form-control" placeholder="Enter Address" name="address" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Phone Number</label>
        <input type="number" class="form-control" placeholder="Enter Phone Number" name="phone_no" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" class="form-control" placeholder="Enter Category" name="category" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Manufacturer to Database</button>
    </form>
    </div>
    </body>
    </html>