nav {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
}

.card
{
  width: 250px;
  
  margin: 1.66%;
  float: left;
}
body{
  background: black;
}
.container
{
  background: white;
}
/* .card-body{
  padding: auto;
  background-color: rgb(192, 192, 192);
} */
